* {
    margin: 0;
    padding: 0;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.cotainer-card {
    margin: 0;
    padding: 0;
}
.card-container {
 margin: 2px;
}
.card-box-container {
    color: gray; 
    font-size: 17px;
    margin-top: 10px;
    line-height: 20px;
    border: 1px solid gray;
    border-radius: 8px;
    margin-bottom: 20px;
}

.upload-btn {
    /* font-size: 16px; */
    font-weight: bold;
    font-family: Roboto,Helvetica Neue, sans-serif;
    border: 1px solid #c7222a;
    border-radius: 6px;
    background-color: rgb(247 247 247);
    color: #c7222a;
    font-size: 18px;
    font-weight: bold;
}
.upload-btn:hover {
    background-color: #E8E8E8;
}
.certificate {
    background-color: #f7e9e7;
}

#alreadyBtn:focus, #faqId:focus{
    box-shadow: none;
    background-color: none;
    color: none;
}

#defaultCheck:active{
   background-color: red;
} 
.defaultCheck:checked{
    background-color: red;
}

#hrLine{
    margin: 1rem 0;
    color: inherit;
    background-color: currentColor;
    border: 0;
    opacity: .25;
}
.checkmark {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: block;
    stroke-width: 4;
    stroke: #ec6608;
    stroke-miterlimit: 10;
    margin: 1rem auto;
    animation: stroke .6s cubic-bezier(.65,0,.45,1) forwards;
}
.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 5;
    stroke-miterlimit: 10;
    stroke: #ec6608;
    fill: none;
    animation: stroke .6s cubic-bezier(.65,0,.45,1) forwards;
}

.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke .6s cubic-bezier(.65,0,.45,1) forwards;
 }

 @keyframes stroke {
    100% {
      stroke-dashoffset: 0;
    }
  }
  @keyframes scale {
    0%, 100% {
      transform: none;
    }
    50% {
      transform: scale3d(1.1, 1.1, 1);
    }
  }
  body{
      font-size: 0.9rem+'!important';
  }
  #claimId, #implantId, label {
    color: gray;
    cursor: pointer;
}

  .buttton-container {
      border: 1px solid blue;
  }
 
.submit-later-btn {
    border: 1px solid #C7222A;
    color: #C7222A;
    background: white;
    border-radius: 3px;
}

input[type="checkbox"] {
    appearance: none;
    height: 17px;
    width: 17px;
    -webkit-appearance: none;
    background-color: white;
    border: 2px solid 	gray;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
}

input[type="checkbox"]:checked + label {
    color: black;
}

input[type="checkbox"]:after {
    font-family: "Font Awesome 5 free";
    font-weight: 700;
    content: "\f00c";
    font-size: 12px;
    color: white;
    display: none;
}

input[type="checkbox"]:checked {
    background-color: #c7222a;
    border-color: #c7222a;
   
}
input[type="checkbox"]:checked:after{
    display: block;  
    
}

/* radio button css */

input[type='radio'] {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    outline: none;
    border: 2px solid gray;
}

input[type='radio']:before {
    content: '';
    display: block;
    width: 55%;
    height: 55%;
    margin: 18% auto;
    border-radius: 50%;
}

input[type="radio"]:checked:before {
    background: brown;
    
}

input[type="radio"]:checked {
  border-color:brown;
}

.checkbox label {
    margin-bottom: 20px !important;
}

.roles {
    margin-bottom: 40px;
}

.active-color  {
    background-color: #c7222a;
    color: white;
    border: none;
}
.unactive-color {
    background-color: #0000001f;
    color: #0000001f;
    box-shadow: 0 0 0 0 #0003, 0 0 0 0 #00000024, 0 0 0 0 #0000001f;
    border: none;
}

.btn-faq {
    font-weight: bold;
}
.submit-now-btn-model {
    margin-top: 90px;
    margin-left: 20px;
    margin-right: 20px;
}
.popup-heading-text {
    font-size: 20px;
    font-weight: bold;
    color: #000000DE;
    line-height: 20px;
}
.container {
    box-shadow: 0 0 42px -8px #000000bf;
    -webkit-box-shadow: 0 0 42px -8px #000000bf;
}